@page "/"

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Payments v2 test support tool</h1>
        <p class="lead">
            Tool to support testing of payments calc. submission window and period end processes.  The application simulates ILR submissions and period end steps in environments where the DC components and services have not been deployed.
        </p>
        <p>
            For testing submissions the application uses anonymised ILR files.
        </p>
    </div>
</div>